<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon_32.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/icons/favicon_64.png">
	<link rel="icon" type="image/png" sizes="128x128" href="/icons/favicon_128.png">
	<link rel="icon" type="image/png" sizes="256x256" href="/icons/favicon_256.png">

	<title>Crypto Twitter Leaderboard</title>
	<meta name="description" content="Most followed Twitter accounts with ENS names.">
    <meta property="og:title" content="Crypto Twitter Leaderboard">
    <meta property="og:description" content="Most followed Twitter accounts with ENS names.">
    <meta property="og:image" content="https://ethleaderboard.xyz/sharing.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<link rel="canonical" href="https://ethleaderboard.xyz/">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JFX7VQ8937"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-JFX7VQ8937');
	</script>
	
</head>
<body>
	<main class="container">
		<div class="hero">
			<div class="hero__title">
				<h1>.eth Leaderboard</h1>
				<a href="https://twitter.com/ethleaderboard" target="_blank">
					<svg width="24" height="24" role="img" viewBox="0 0 24 24" color="#000"
						xmlns="http://www.w3.org/2000/svg">
						<title>Twitter icon</title>
						<path
							d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z">
						</path>
					</svg>
				</a>
			</div>
			<span class="subtitle">The most followed accounts with .eth names on Twitter</span>
			<div class="floor">
				<div class="floor__section">
					<span class="floor__number">> <%= floor10 %></span>
					Followers for <strong>Top 10</strong>
				</div>
				<div class="floor__section">
					<span class="floor__number">> <%= floor100 %></span>
					Followers for <strong>Top 100</strong>
				</div>
				<div class="floor__section">
					<span class="floor__number">> <%= floor200 %></span>
					Followers for <strong>Top 200</strong>
				</div>
			</div>
		</div>
		<div class="legend">
			<span class="legend__description">Data is updated every 5 minutes</span>
		</div>
		<div class="table-wrapper">
			<table class="profiles">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Twitter</th>
					<th>Followers</th>
				</tr>
				<% for(let i = 0; i < profiles.length; i++) {
					const profile = profiles[i]

					let number = i + 1
					let handle = profile.handle
					let name = profile.name
					let ens = name.toLowerCase().match(/[\w]*[.]eth/)[0]
					let followers = new Intl.NumberFormat().format(profile.followers)
				%>
					<tr>
						<td><%= number %></td>
						<td>
							<% if (ens == '.eth') { %>
								<%= name %>
							<% } else { %>
								<a href="https://<%= ens %>.xyz" target="_blank"><%= name %></a>
							<% } %>
						</td>
						<td><a href="https://twitter.com/<%= handle %>" target="_blank">@<%= handle %></a></td>
						<td><%= followers.toLocaleString() %></td>
					</tr>
				<% } %>
			</table>
		</div>

		<div class="credits">
			<button class="copy-json" onclick="copyData()">Copy JSON</button>

			<code style="display: none;">
				<textarea id="json">
					<%= JSON.stringify(profiles, null, " ") %>
				</textarea>
			</code>

			<br>

			<small>Website by <a href="https://twitter.com/gregskril" target="_blank">@gregskril</a></small>
			<small>See updates to this list on Twitter <a href="https://twitter.com/ethleaderboard" target="_blank">@ethleaderboard</a></small>
		</div>
	</main>

	<script src="/app.js"></script>

</body>
</html>